/*
Credits: some of the styles were adapted from W3 Schools CSS Tutorial
 */

 /*
 Style notes -------
 color pallet: teal- #daf3f4
    grey: #7c7682;
 */

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
} 

#about_text {
  font-size: 1.5em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 /* width: 50%; */
}

.column {
  float: left;
  width: 50%;
  height: 150%;

}

img {
  margin: 5%;
  background-color: white;
}

@media screen and (max-width: 600px) {
  #sweetboy {
    width: 100%;
    height: auto;
  }
}
/*Navigation Menu Styles */
ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
}

li {
  float: left;
}

li a:hover {
  color: #7c7682;
}

/*
.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}
*/

.menu {
  overflow: hidden;
  background-color: #daf3f4;
  padding-bottom: 10%;
}

.menu a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}


.menu a.icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu a:not(:first-child) {display: none;}
  .menu a.icon {
    float: right;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  .menu a {
     display: none; 
  }
  .menu a:not(:first-child) {display: none;}
  .menu.responsive {position: relative;} 

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .responsive a {
    /*background-color: #d3d3d3; */
    float: none; 
    display: block;
    text-align: right;
  }

  .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: ;
    height: 500px;
    color: white;
    border-radius: 10px;
}
  
  .menu a.icon {
    float: right;
    display: block;
    font-size: 20px;

  }
  li {
    display: block;
    float: initial;
    padding-right: 10%;

  }

 
}


/*End of Navigation Styles */



.titles {
	text-align: center;
  color: #7c7682;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 2.5em; 
}

.footer {
  padding-bottom: 25%;
  margin-top: 20%;
  background-color: ;
  clear:both;
  width: 100%;

}


/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}


div p {
  background-color: #daf3f4;
  padding: 20%;
}


form {
  margin: 0 auto;
  width: 70%;
  padding: 1em;

}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block; 
  width: 90px;
  text-align: left;
  padding: 1%;
}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, 
textarea:focus {
  border-color: #daf3f4;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px; 
}

button {
  margin-left: 
  .5em;
}

/* PHOTO GALLERY STYLES =================*/
div.gallery {
  width: 90%;
  margin: 10%;
  text-align: center;
}


.gallery_center {
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 8%;
}

div.gallery:hover {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); 

}

div.gallery img {
  width: 100%; 
  height: auto;
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%); 
}

div.desc {
  padding: 5%;
  font-size: 1.1em;
  text-align: left;
}


.responsive {
  padding: 0 6px; 
  float: left;
  width: 24.99999%;
}

/*Tablet Styles for gallery*/
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
   /* margin: 6px 0;*/
  }

}
/*Mobile Styles for gallery*/
@media only screen and (max-width: 500px) {
  .responsive {

    width: 90%;
    height: auto;
  }
  div.gallery img {
    /*
    width: 100%;
    height: auto;*/
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*Mobile Styles for 2 -column pages */
@media only screen and (max-width: 500px) {
  .column {
  width: 100%;
  height: auto;
  }
  img#sweetboy2 {
    width: 100%;
    height: auto;
  }

}

