/*colors teal: #daf3f4
 */
#about_text {
  font-size: 1.5em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 /* width: 50%; */
}

.column {
  float: left;
  width: 50%;
  height: 150%;

}
img {
  margin: 5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

li a:hover {
  color: #7c7682;
}

.titles {
	text-align: center;
  color: #7c7682;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 2.5em; 
}

nav {
  background-color: #daf3f4;
  padding-bottom: 10%; 
}


.footer {
  padding-bottom: 15%;
  margin-top: 10%;
  background-color: #e3dddc;
  clear:both;

}


}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}


div p {
  background-color: #daf3f4;
  padding: 20%;
}
